body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background: #074a01ff;
    color: #fff;
    padding: 10px 0;
    box-shadow: #000 0px 0px 15px 3px;
}

header h1{
    padding-left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;       
    gap: 20px;             
    justify-content: center; 
    padding: 20px;
}

.tereni {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
    padding: 10px;
    height: 500px;
}

.tereni:hover{
    transform: scale(1.02);
    box-shadow: #000 0px 0px 10px 0px;
}

.tereni img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.tereni h3 {
    margin-top: 20px
}

.tereni p {
    padding: 10px;
    color: green;
}

.btn{
    margin-bottom: 4px;
    padding: 3px;
    text-decoration: none;
    background: #ffffffff;
    border: 3px solid #074a01ff;
    border-radius: 3px;
    color: black;
}

.btn:hover{
    background: #074a01ff;
    color: #ffffffff;
}