@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #000000ff;
    opacity: 0;
    animation: fadeIn 2s forwards;
    font-family: sans-serif;
}
header{
    background: #074a01ff;
    color: #fff;
    padding: 10px 0;
    box-shadow: #000 0px 0px 15px 3px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: auto;
}

nav ul{
    list-style: none;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

nav ul li a {
    border-radius: 3px;
    border: solid 0.1px #fff;
    border-width: 2px;
    padding: 5px 8px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    background: #fff;
    color: #074a01ff;
    box-shadow: #000 0px 0px 10px 0px;
}

section{
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/image.png');
    background-position: center;
    background-size: cover;
    margin-top: 0;
}


section h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
}
section p{
    font-size: 1.25rem;
    margin-bottom: 30px;
}

section h2{
    border: 2px solid rgba(51, 51, 51, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}

section p{
    border: 2px solid rgba(51, 51, 51, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}