body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
form{
    background: #fff;
    border: 2px solid #074a01;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: white;
    color: black;
    border: 2px solid #074a01;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #074a01;
    color: white;
}
.error {color: red; margin-bottom: 10px;}
.success {color: green; margin-bottom: 10px;}
a{
    color: black;
}